*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,600&display=swap');

body{
    font-family: "JetBrains Mono",monospace;
        background-image: linear-gradient(to right, #8360c3, #2ebf91);
        

}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.inp{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    background-color: white;
    border-radius: 8px;
    padding: 15px 30px;
    font-family: "JetBrains Mono",monospace;
    
}

.inp input{
    width: 50%;
    padding: 8px 20px;
  font-size: 1rem;
  font-family: "JetBrains Mono",monospace;
} 

h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.buttonn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  #op{
    visibility: hidden;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.623);
  }
  .fetchagain{
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .fetchagain:hover{
    font-weight: 600;
    border-bottom: 2px solid rgb(31, 1, 226);
  }

@media only screen and (max-width: 600px) {
    body {
      height: 100%;

    }
    #op{
    width: 400px;
    }
    .inp{
      width: 400px;
    }
  }
